<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14F1605</string>
	<key>CFBundleExecutable</key>
	<string>XMPCore</string>
	<key>CFBundleGetInfoString</key>
	<string>XMP Core 5.5.0, Copyright (c) 2013</string>
	<key>CFBundleIdentifier</key>
	<string>com.xmp.XMPCore</string>
	<key>CFBundleName</key>
	<string>XMPCore</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>XMP Core 5.5.0</string>
	<key>CFBundleSignature</key>
	<string>XMP </string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>Configuration</key>
	<string>Release</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7C68</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15C43</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0720</string>
	<key>DTXcodeBuild</key>
	<string>7C68</string>
	<key>FileVersion</key>
	<string>5.5.0</string>
	<key>ProductName</key>
	<string>XMP Core</string>
	<key>ProductVersion</key>
	<string>5.5.0</string>
</dict>
</plist>
